{% extends 'base.html.twig' %}

{% block body %}
    <div class="list">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Особь</th>
                <th scope="col">Семья</th>
                <th scope="col">Колония</th>
                <th scope="col">Популяция</th>
                <th scope="col">Вид</th>
                <th scope="col">Аттрибуты</th>
            </tr>
            </thead>
            <tbody>
            {% for m in items %}
                <tr>
                    <th scope="row">{{ m.id }}</th>
                    <td>{{ m.name }}</td>
                    <td>{{ m.family }}</td>
                    <td>{{ m.colony }}</td>
                    <td>{{ m.population }}</td>
                    <td>{{ m.specie }}</td>
                    <td>{{ m.attributes | join(',') }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}