{% extends 'base.html.twig' %}

{% block search %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Поиск">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
        </form>
    </div>
{% endblock %}

{% block body %}
    <div class="text-right">
        <a class="btn btn-primary mb-2" href="{{ path('melogram') }}" role="button">Добавить особь</a>
    </div>
    <div class="list">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Особь</th>
                <th scope="col">Семья</th>
                <th scope="col">Колония</th>
                <th scope="col">Популяция</th>
                <th scope="col">Вид</th>
                <th scope="col">Аттрибуты</th>
            </tr>
            </thead>
            <tbody>
            {% for m in items %}
                <tr>
                    <th scope="row">{{ m.id }}</th>
                    <td>{{ m.name }}</td>
                    <td>{{ m.family }}</td>
                    <td>{{ m.colony }}</td>
                    <td>{{ m.population }}</td>
                    <td>{{ m.specie }}</td>
                    <td>{{ m.attributes | join(',') }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}