{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('js/Home.js') }}"></script>
    <script src="{{ asset('js/Select.js') }}"></script>
{% endblock %}

{% block body %}
    <h3>Особи</h3>
    <div class="text-right">
        <a class="btn btn-primary mb-2" href="{{ path('melogram') }}" role="button">Добавить особь</a>
    </div>
    <div class="list">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Вид</th>
                <th scope="col">Популяция</th>
                <th scope="col">Колония</th>
                <th scope="col">Семья</th>
                <th scope="col">Особь</th>
                <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody>
                {% for m in items %}
                    <tr>
                        <td>{{ m.specie }}</td>
                        <td>{{ m.population }}</td>
                        <td>{{ m.colony }}</td>
                        <td>{{ m.family }}</td>
                        <td>{{ m.item }}</td>
                        <td>
                            <a href="{{ path('export_melogram', {id: m.id}) }}" title="Экспортировать"><img alt="Экспортировать" src="{{ asset('img/download.png') }}" /></a>
                            <a class="edit_action" href="{{ path('edit_melogram', {id: m.id}) }}" title="Редактировать"><img alt="Редактировать" src="{{ asset('img/edit.png') }}?ver=1" /></a>
                            <a href="{{ path('remove_melogram', {id: m.id}) }}" class="remove_melogram_link" title="Удалить"><img alt="Удалить" src="{{ asset('img/remove.png') }}?ver=1" /></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}