{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('js/Melogram.js') }}"></script>
{% endblock %}

{% block body %}
    {% if melogram is defined %}
        <h3>Редактирование особи</h3>
    {% else %}
        <h3>Добавление особи</h3>
    {% endif %}
    <a href="{{ path('homepage') }}">Назад</a>
    {% if melogram is defined %}
        <div class="text-right">
            <a href="{{ path('export_melogram', {id: melogram.id}) }}" title="Экспортировать"><img alt="Экспортировать" class="mr-1" src="{{ asset('img/download.png') }}" />Экспортировать</a>
        </div>
    {% endif %}
    <form action="{% if melogram is defined %}{{ path('edit_melogram_ajax', {id: melogram.id}) }}{% else %}{{ path('add_melogram_ajax') }}{% endif %}" method="post" enctype="multipart/form-data" class="mt-5">
        <div class="form-group row">
            <label for="form" class="col-form-label col-sm-2">Вид</label>
            <div>
                <input type="number" id="form" name="specie_id" class="form-control" value="{{melogram.specie}}"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="population" class="col-form-label col-sm-2">Популяция</label>
            <div>
                <input type="number" id="population" name="population_id" class="form-control" value="{{melogram.population}}"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="colony" class="col-form-label col-sm-2">Колония</label>
            <div>
                <input type="number" id="colony" name="colony_id" class="form-control" value="{{melogram.colony}}"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="family" class="col-form-label col-sm-2">Семья</label>
            <div>
                <input type="number" id="family" name="family_id" class="form-control" value="{{melogram.family}}"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="item" class="col-form-label col-sm-2">Особь</label>
            <div>
                <input type="number" id="item" name="item_id" class="form-control" value="{{melogram.name}}"/>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="custom-file">
                <input type="file" name="melody_file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" {% if melogram is not defined %}required{% endif %}>
                <label class="custom-file-label" for="inputGroupFile01">Мелодия</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">{% if melogram is defined %}Сохранить{% else %}Добавить{% endif %}</button>
    </form>
{% endblock %}