{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('js/Select.js') }}"></script>
{% endblock %}

{% block body %}
    <h3>Выборки</h3>
    <div class="text-right">
        <a class="btn btn-primary mb-2" href="{{ path('add_selection_group') }}" role="button">Добавить склейку</a>
    </div>
    <div class="list">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Элементы</th>
                <th scope="col">Дата создания</th>
                <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for s in items %}
                <tr>
                    <th scope="row">{{ s.id }}</th>
                    <td>{{ s.uids | join(', ') }}</td>
                    <td>{{ s.date }}</td>
                    <td>
                        <a class="open_action" href="{{ path('view_selection', {id: s.id}) }}" title="Посмотреть"><img alt="Посмотреть" style="width:40px" src="{{ asset('img/view.png') }}?ver=1" /></a>
                        <a href="{{ path('remove_selection', {id: s.id}) }}" class="remove_melogram_link" title="Удалить"><img alt="Удалить" src="{{ asset('img/remove.png') }}?ver=1" /></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}